# https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
max_line_length=120

# 2 space indentation
[*.{yml,yaml,json,js,css,html,jsx,ts,tsx,less}]
indent_size = 2

[LICENSE]
insert_final_newline = false

[*.bat]
indent_style = tab
end_of_line = crlf

[Makefile]
indent_style = tab

[*.{diff,patch}]
trim_trailing_whitespace = false
