# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
max_line_length = 100
ij_visual_guides = 100

[*.py]
max_line_length = 100
ij_visual_guides = 80, 100

[.bumpversion.cfg]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.bat]
indent_style = tab
end_of_line = crlf

[*.{yml,yaml,json,js,css,html,jsx,ts,tsx,less}]
indent_size = 2

[LICENSE]
insert_final_newline = false
