include LICENSE
include README.md
include CHANGELOG.md
include AUTHORS.md

recursive-include ridgeplot *
recursive-include tests *
recursive-include examples *
recursive-include docs *

recursive-exclude * *.py[co]
recursive-exclude * __pycache__
recursive-exclude * *.egg-info
