# Top-level dir files not included by default
include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .mdformat.toml
include .pre-commit-config.yaml
include .readthedocs.yaml
include Makefile
include mypy.ini
include pytest.ini
include tox.ini
include CHANGES.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md

# Stubs
recursive-include src py.typed *.pyi

# Data files
include src/ridgeplot/colors.json
recursive-include src/ridgeplot/datasets/data *.csv

# Docs
include docs/Makefile
include docs/make.bat
include docs/robots.txt
recursive-include docs *.md *.py *.rst
recursive-include docs/_static *.ico
recursive-include docs/_static/img *.png
prune docs/build

# Misc
include bin/tox
recursive-include .github *.yaml
recursive-include examples *.py *.ipynb
recursive-include misc *.py *.ipynb
recursive-include requirements *.txt *.in *.md
recursive-include scripts *.py tox
recursive-include tests *.py

# Globally excluded patterns
recursive-exclude * *.py[cod] *.egg-info __pycache__
