# This workflow checks whether the user remembered to update
# the changelog with a relevant entry for the PR.
# This check is skipped if the PR has the "skip news" label.
name: Check Release Notes

on:
  pull_request:
    types: [ opened, synchronize, reopened, labeled, unlabeled ]

jobs:
  check:
    name: Check for entry in Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Grep Changelog for PR number
        if: contains(github.event.pull_request.labels.*.name, 'skip news') != true
        run: |
          grep '{gh-issue}`${{ github.event.pull_request.number }}`' ./docs/reference/changelog.md || \
          (echo "Entry for PR #${{ github.event.pull_request.number }} missing from changelog" && \
          exit 1)
